html{
    box-sizing: border-box;
    background-color: #FFFBF0;
}
body{
    width: 100%;
    height: 150vh;
    padding: 0 100px;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

.img{
    position: absolute;
    display: none;
    padding: auto;
    z-index: 3;
}


.header_top{
    display: flex;
    flex-direction: column;
}
.header_top .pic_top{
    z-index: 0;
}
.header_top .pic_logo{
    position: absolute;
    width: 267px;
    height: 200px;
    margin-left: 20px;
    margin-top: 26px;
    z-index: 1;
}
.header_bottom{
    position: relative;
    width: 100%;
    height: 60px;
    background-color:#A7EAFD;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_button{
    margin-left: 220px;
}
.box_button ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}
#slectionbox{
    width: 200px;
    height: 40px;
    margin-left: 19px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color:#164D3c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#slectionbox:hover{
    width: 200px;
    height: 40px;
    margin-left: 19px;
    background-color:#56B5E2;
    border-radius: 5px;
    font-size: 27px;
    font-weight: bold;
    color:#FFFBF0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.main-area{
    display: flex;
    margin-top: 8%;
}

.nav_list{
    list-style-type: none;
}

.nav_list_item{
    list-style-type: none;
    display: flex;
    width: 650px;
    margin-top: 9%;
    margin-left: -5%;
    background-color: #FFF2CD;
    padding: 2% 0;
    border-radius: 100px;
}

#first_cat{
    margin-top: -2%;
}

.text{
    margin-left: 15%;
}

.cat_name{
    width: 200px;
    height: 50px;
    font-size: 36px;
    font-weight: bold;
    border-radius: 7px;
    color:#164D3C;
}

.cat_info{
    width: 300px;
    height: 100px;
    margin-top: 6%;
    font-size: 24px;
    font-weight: bold;
    border-radius: 7px;
    color: #407465;
}

aside{
    margin-left: 10%;
}

.rule{
    width: 602px;
    height: 660px;
    margin-left: -15%;
}

.Other{
    margin-left: -20%;
}

.title_other{
    width: 360px;
    height: 80px;
    margin-top: 20%;
    margin-left: 4%;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    color:#164D3c;
}

.store{
    width: 200px;
    height: 200px;
}
.store:hover{
    -webkit-filter: brightness(.8);
}


.shop_logos{
    list-style-type: none;
}

.row{
    display:flex;
    list-style-type: none;
    margin-top: 7%;
}

.shop2{
    margin-left: 15%;
}

.name{
    font-size: 24px ;
    color: #407465;
    text-align: center;
    text-decoration: none;
}

.name:hover{
    font-size: 24px ;
    font-weight: bold;
    color:#164D3c;
    text-decoration: underline;
}




footer{
    width: 100vw;
    height: 100px;
    background-color: #2982AC;
    margin-top: 3%;
    flex-direction: flex-start;
}

.text_shop{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: #FFFBF0;
}
